@media (min-width: 1024px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    @font-face {
        font-family: "Steppe";
        src: url("../Fonts/Steppe-Light.woff");
               
    }
    
    .page {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.04);
    }
    
    /* Футер */
    .header,
    .footer {
        padding: 100px;
        background-color: #141414;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .footer {
        margin-top: auto;
    }
    
    .name {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }
    
    .socials {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        margin-left: 20%;
    }
    
    .socials p{
        color: white;
    
    }
    
    .footer h1 {
        color: white;
        font-family: 'Steppe';
        font-size: 20px;
        margin-left: 20%;
    
    }
    
    .footer h2 {
        color: white;
        font-family: 'Steppe';
        font-size: 20px;
        margin-left: 24%;
    
    }
    
    
    .footer a:hover{
        color: rgb(200, 200, 200);
    }
    
    .footer a{
        color: white;
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
        margin-left: 20%;
        font-family: 'Steppe'
    }
    
    .navigation {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;
        margin-left: 5%;
    }
    
    .about {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;
    }
    
    .about p{
        color: white;
        font-size: 14px;
        font-weight: 700;
        margin-left: 20%;
        font-family: 'Steppe'
    }
    
    .text12{
        color: white;
        margin: 17%;
        font-family: 'Steppe';
        font-size: 13px;
    
    }
    
    .line {
        transform: translate(-90%, 0);
    }
}





/* На телефон */

@media (min-width: 390px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    @font-face {
        font-family: "Steppe";
        src: url("../Fonts/Steppe-Light.woff");
               
    }
    
    .page {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.04);
    }
    
    /* Футер */
    .header,
    .footer {
        padding: 70px;
        background-color: #141414;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    .footer {
        margin-top: auto;
    }
    
    .name {
        align-items: center;
    }
    
    .socials {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        transform: translate(-30%, 0);

    }
    
    .socials p{
        color: white;
    }
    
    .footer h1 {
        color: white;
        font-family: 'Steppe';
        font-size: 12px;
        margin-left: 20%;
    
    }
    
    .footer h2 {
        color: white;
        font-family: 'Steppe';
        font-size: 12px;
        margin-left: 24%;
    
    }
    
    
    .footer a:hover{
        color: rgb(200, 200, 200);
    }
    
    .footer a{
        color: white;
        text-decoration: none;
        font-size: 12px;
        font-weight: 700;
        margin-left: 20%;
        font-family: 'Steppe'
    }

    .footer a{
        color: white;
        font-size: 12px;
        font-weight: 700;
        margin-left: 20%;
        font-family: 'Steppe'
    }
    
    .navigation {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        transform: translate(40%, 0);
    }
    
    .about {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        transform: translate(-40%, 0);
        gap: 15px;
        width: 150%;
        margin-top: 25%;

    }
    
    .about p{
        color: white;
        font-size: 12px;
        font-weight: 700;
        margin-left: 20%;
        font-family: 'Steppe'
    }
    
    .text12{
        color: white;
        margin: 17%;
        font-family: 'Steppe';
        font-size: 13px;
    
    }
}
