@media (min-width: 1024px) {

    @font-face {
        font-family: "Steppe";
        src: url("../Fonts/Steppe-Light.woff");
    }
    .row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 18%;
    }

    .clo-1 {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        padding-top: 20%;
    }

    .container {
        background-color: #141414;
        height: 50vh;

    }

    .yt {
        width: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .yt a{
        margin-top: 6%;
        width: 300%;
    }

    .clo-1 a{
        color: white;
        font-size: 14px;
        font-family: "Steppe";
        text-decoration: none;

    }

    .clo-1 a:hover{
        color: rgb(205, 205, 205);
    }

    .clo-1 h1{
        color: white;
        font-size: 18px;
        font-family: "Steppe";
        margin-top: -6%;
    }

    .clo-1 p{
        color: white;
        font-size: 14px;
        font-family: "Steppe";
    }
}









/* Телефон */
@media (max-width: 479px) {

    @font-face {
        font-family: "Steppe";
        src: url("../Fonts/Steppe-Light.woff");
    }
    .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-left: 18%
    }

    .clo-1 {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        padding-top: 39%;
    }

    .container {
        background-color: #141414;
        height: 50vh;

    }

    .yt {
        width: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .yt a{
        margin-top: 6%;
    }

    .clo-1 a{
        color: white;
        font-size: 12px;
        font-family: "Steppe";
        text-decoration: none;

    }

    .clo-1 a:hover{
        color: rgb(205, 205, 205);
    }

    .clo-1 h1{
        color: white;
        font-size: 14px;
        font-family: "Steppe";
        margin-top: -6%;
    }

    .clo-1 p{
        color: white;
        font-size: 12px;
        font-family: "Steppe";
    }

}
